@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    
    
}

body {
    background-image: url(IMG/achtergrondrapid2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    overflow-x: hidden;
    -ms-overflow-style: none; 
    
  scrollbar-width: none; 
  overflow-y: scroll; 
}
body::-webkit-scrollbar {
  display: none; 
    }


.background2{
  background-size: cover;
  background-position: center;
  width: 100%;
  position: absolute;
  margin-top: -5%;
}

@media only screen and (max-width: 600px) {
  .background2 {
    height: 370px;
  }
}

.headtext{
    font-size: 1.5vw;
    margin-left: 10%;
  
}


.telefoonnummer{
  position: fixed;
      z-index: 11;
      right: 50px;
      top: 25px;
      height: 50px;
      width: 50px;
      text-align: center;
      line-height: 50px;
      border-radius: 50%;
      font-size: 20px;
      cursor: pointer;
      margin-top: -0.7%;
      color: white;
      text-align: center;
  
  
  
}

/*
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
*/

.email{
  position: fixed;
  text-align: center;
      z-index: 11;
      right: 90px;
      top: 25px;
      height: 50px;
      width: 50px;
      text-align: center;
      line-height: 50px;
      border-radius: 50%;
      font-size: 20px;
      cursor: pointer;
      margin-top: -0.7%;
      color: white;
      
  
  
}

.logo {
  height: 80px;
margin-left: 2%;
margin-top: 1%;
}
@media only screen and (max-width: 600px) {
  .logo {
    height: 50px;
  }
}



@keyframes blinker {
50% {
  opacity: 0;
}
}



* {box-sizing:border-box}

.slideshow-container {
  position: relative;
  margin: auto;
 background-image: cover; 
 margin-top: -29%;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22%;
  padding: 16px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  position: absolute;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.achtergrond{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

.container1{
  width: 100%;
  height: 100%;
  min-height: 1220px;
  margin-left: -13%; 
  margin-top: -5%;
}

.container2{
  width: 100%;
  height: 100%;
  min-height: 1220px;
  margin-left: -13%; 
  margin-top: -5%;
}

.container{
    scroll-snap-type: y mandatory;
    width: 1080px;
  height: 1920px;
}
.container section {
  height: 100%;
  color: #222;
  padding: 32px;
  display: flex;
  align-items: center;
  scroll-snap-align: start;
}

.container section .content {
  max-width: 800px;
  margin: 0 auto;
}

.container section:nth-of-type(2n) {
  color: #fff;
}




.Slogan{
  position: absolute;
  margin: 50%;
  margin-top: -200%;
  width: 600px;
  margin-left: -270%;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
.verplaatsen{
  margin-left: 8% ;
}

.animation{
  color: #00aeef;
  border-right: solid white;
  overflow: hidden; 
  position: absolute; 
  animation: 
  typing 2s forwards,
  blinkTextCursor 1s  infinite; ;
  margin-left: -139px;
}


@keyframes typing {
  from { width: 0 }
  to { width: 48.8% }

}

@keyframes blinkTextCursor{
  from{border-right-color: rgba(255, 255, 255);}
  to{border-right-color: transparent;}
}


.contactpagina{
  width: 1080px;
  height: 1920px;
  color: #00aeef;
  margin: 30%;
  margin-top: 1%;
  margin-left: 46.7%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  padding-bottom: 100px;
}



.Engineeringpagina{
  margin-left: 43%;
  color: white;
  
}

.imgengineering{
  width: 200px;
  height: 300px;
  margin: 30%;
  margin-top: 10%;
  margin-left: 16%;
  border-radius: 50px;
  border: 1px solid;
  padding: 2px;
  box-shadow: 5px 10px #00aeef;
}


.imgengineeringg{
  width: 200px;
  height: 300px;
  margin: 31.5%;
  margin-top: -70%;
  margin-left: 43%;
  border-radius: 50px;
  border: 1px solid;
  padding: 2px;
  box-shadow: 5px 10px #00aeef;
}


.imgengineeringgg{
  width: 200px;
  height: 300px;
  margin: 33%;
  margin-top: -70%;
  margin-left: 70%;
  box-shadow: 0 0 8px 8px white inset;
  border-radius: 50px;
  border: 1px solid;
  padding: 2px;
  box-shadow: 5px 10px #00aeef;
}


.tekstpage{
  margin-top: -30%;
  color: #00aeef;
}

.textunderpage{
  color: white;
}

.rapidvisionlogo{
  width: 300px;
  height: 150px;
  margin-left: 40%;
  margin-top: 2%;
}

.knopje {
  background-color: #00aeef; 
  border: none; 
  color: white; 
  padding: 12px 16px; 
  font-size: 16px; 
  cursor: pointer; 
  margin-left: 2%;
}

.knopje:hover {
  background-color: RoyalBlue;
}

.videootje{
  width: 70%;
  margin-left: 15.5%;
  z-index: 1000;
  margin-top: -100%;
  
}


.buttoonn{
  position: fixed;
  margin: 30%;
  z-index: 1200;
  width: 40px;
  height: 40px;
  margin-left: 50%;
  background-color: #00aeef;
  scroll-behavior: smooth;
}

.buttonvision{
  left: 490px;
    top: 560px;
    position:fixed;
    z-index:1
  }

  .scroller{
    scroll-behavior: smooth;
    z-index: 2000;
    color: black;
    position: absolute;
    margin-left: 48%;
    margin-top: 30%;
    background-color: transparent;
    width: 100px;
  }

  html {
    scroll-behavior: smooth;
  }
  
  
  #section1 {
    height: 50px;
    width: 100px;
    position: absolute;
    background-color: transparent;
    margin: 30%;
    margin-left: 45%;
    border-radius: 10%;
    
    
  }
  
  #section2 {
    height: 600px;
    position: absolute;
  }

  .bn3637 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    backface-visibility: hidden;
    
    
    
    
  }
  
  .bn36 {
    border-color: #00aeef;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
    animation: blinker 1s step-end infinite;
    margin-left: 60%;
    border: solid #00aeef;
    width: 20px;
    height: 20px;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  }
  
  /*.bn36:hover {
    
  }*/

/*knop in de video*/
.bn36378 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  backface-visibility: hidden;
  border: 0.0rem solid transparent;
  border-radius: 3rem;
  margin-left: 45%;
  position: absolute;
  margin-top: 30%;
  z-index: 9;
  font-size:0.875em;
  width: auto;
  min-width: 50px;  
  max-width: 300px; 
      display:block;
      width:auto;
      margin-top: 30%;
      margin-left: 80%;

}

.bn368 {
  border-color: #fff;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.bn368:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

.grijzeafbeeldingrapid{
  background-color: rgb(32 32 32);
  width: 100%;
  height: 500px;
  margin-top: 20%;
  margin-bottom: -10%;
}
.topFixedBar
{
    position: fixed;
    width: 100%;
    background: rgb(32 32 32);
    height: 70px;
}

.netsimulatietext{
  color: white;
  margin-top: 10%;
  margin-left: 10%;
  position: absolute;
  width: auto;
  height: auto;
}

.embedly-card{
  position: absolute;
  margin-left: 10%;
  margin-top: -3%;
  height: auto;
  width: auto;
}

div.elem-group {
  margin: 40px 0;
  color: white;
}

label {
  display: block;
  font-family: 'Aleo';
  padding-bottom: 4px;
  font-size: 1.25em;
}

input, select, textarea {
  border-radius: 2px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'Aleo';
  width: 500px;
  padding: 8px;
}

textarea {
  height: 250px;
}

button {
  height: 50px;
  background: green;
  color: white;
  border: 2px solid darkgreen;
  font-size: 1.25em;
  font-family: 'Aleo';
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  border: 2px solid black;
}

.textdissapear{
  margin-left: 20%;
  color: white;
  margin-top: 25%;
  margin-left: 47.5%;
  position: absolute;
}

.textdissapear1{
margin-left: 20%;   
color: white;   
margin-top: 25%;   
margin-left: 48.8%;   
position: absolute;   
text-align: center;
}


h1{
  font-size: 3rem;
  margin-left: 40%;
  margin-top: 10%;
  position: absolute;
  color: white;
}
p{
  font-size: 1.5rem;
  color: white;
  margin-left: 10%;
  margin-top: 20%;
  position: absolute;
}
@media (max-width:991px){
  h1{
    font-size: calc(1vw + 1.5rem);
  }
  p{
    font-size: calc(.5vw 1.5rem);
  }
}

.kleurachtertext{
    background-color: aqua;
    position: absolute;
    z-index: 1;
}

/*footer*/

